/* General rules */


/* General rules */

* {
    margin: 0;
}

header {
    background: #ADADAD;
}

.header-div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-auto-flow: column; */
    padding-top: 20px;
    padding-bottom: 25px;
    justify-items: center;
}

.first-section {
    /* background: blueviolet; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

.content {
    /* border: 1px solid #000; */
    height: 900px;
    display: flex;
    align-items: center;
}

.content:nth-child(1) {
    background: #808080;
}

.content:nth-child(2) {
    background: #8D8D8D;
}

.content:nth-child(3) {
    background: #8D8D8D;
}

.content:nth-child(4) {
    background: #808080;
}

.latest-posts {
    background: rgba(128, 128, 128, 0.7);
    display: flex;
    flex-direction: column;
}

.latest-post-items {
    margin-left: 7%;
    max-width: 50%;
}

.item1 {
    margin-top: 3%;
    margin-bottom: 1%;
}

.item3 {
    background: white;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.latest-post-items li {
    list-style: circle;
    font-size: 19px;
    line-height: 30px;
}

.latest-post-items p {
    font-size: 30px;
}

.community {
    display: grid;
    grid-template-areas: "childone childtwo childthree childfour""childfive childfive childsix childseven""childfive childfive . . ""childeight childnine childten childten"" . . childten childten";
    height: 1900px;
    margin: 0 5%;
}

.community>* {
    padding: 5%;
    text-align: justify;
    line-height: 2;
}

.community-title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.community-author {
    font-size: 19px;
    font-weight: bold;
}

.child1 {
    grid-area: childone;
    margin-bottom: 0;
}

.child2 {
    grid-area: childtwo;
}

.child3 {
    grid-area: childthree;
}

.child4 {
    grid-area: childfour;
    background: #808080;
    margin: 20%;
    height: 40%;
    width: 80%;
    border-radius: 15px;
}

.child5 {
    grid-area: childfive;
    margin: 4%;
    background: #8D8D8D;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.child6 {
    grid-area: childsix;
}

.child7 {
    grid-area: childseven;
}

.child8 {
    grid-area: childeight;
}

.child9 {
    grid-area: childnine;
}

.child10 {
    grid-area: childten;
    margin: 4%;
    background: #8D8D8D;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.community-box-child {
    background: white;
    height: 60px;
    width: 300px;
    border-radius: 15px;
}

.green-jumbotron {
    background: lightgray;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.green-jumbotron>* {
    margin: 40px 0;
}
/*  */
.person-of-the-week{
    padding-top:  55px;
    background: blueviolet;
    display: flex;
    height: 250px;
    justify-content: space-around;
}
 .picture{
    height: 200px;
    width: 200px;
    background: #fff;
    border: 1px solid #000;
    margin: 0 55px;
    border-radius: 10px;
    transform: rotate(-25deg);
}
.persons-achievements h3{
    text-transform: uppercase;
    margin-bottom: 25px;
}
.persons-achievements p{
    font-size: 1.3rem;
    padding-right: 15px;
}
/*  */
.other-persons{
    background: grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 25px 0;
    padding-left: 20px;
    font-size: 1.1rem;
}
.photo{
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 5px;
    transform: rotate(-15deg);
    border: 1px solid #000;
    margin-right: 15px;
}
.item{
    /* border: 1px solid red; */
    display: flex;
}
/*  */
.center-section{
    background: blue;
    height: 200px;
    display: flex;
}
.table-of-content{
    width: 300px;
    height: 30px;
    background: #fff;
    border-radius: 6px;
}
.book{
   width: 50px;
   height: 300px; 
   background: #fff;
}